[project]
	description = Global Energy Optimization Power Management
	state = hidden
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Brad Geltz (bgeltz)
[access "refs/for/refs/*"]
	read = group user/Brad Geltz (bgeltz)
	push = group user/Brad Geltz (bgeltz)
	label-Code-Review = -2..+2 group user/Brad Geltz (bgeltz)
	label-Verified = -1..+1 group user/Brad Geltz (bgeltz)
	rebase = group user/Brad Geltz (bgeltz)
	removeReviewer = group user/Brad Geltz (bgeltz)
	submit = group user/Brad Geltz (bgeltz)
[access "refs/heads/*"]
	read = group user/Brad Geltz (bgeltz)
	create = group user/Brad Geltz (bgeltz)
	push = +force group user/Brad Geltz (bgeltz)
	pushMerge = group user/Brad Geltz (bgeltz)
[access "refs/tags/*"]
	push = +force group user/Brad Geltz (bgeltz)
	pushTag = group user/Brad Geltz (bgeltz)
	pushSignedTag = group user/Brad Geltz (bgeltz)
